

body{
background:rgba(255,255,255,1) !important;
height:100vh;}

.main-body-section{
height:auto;
padding-top:50px !important;
padding-bottom:30px;
margin-top:80px !important;
border:none !important;
overflow:visible !important;
}

.aiclogo{
padding:10px;
}

form{
background:white;
height:100%;
margin-left:60px;
margin-right:60px;

}

.heading,h3 b,h1{
text-align: center;
font-size: 40px !important;
color:black;
margin-bottom:50px !important;
font-weight:700 !important;
font-family: Arial, Helvetica, sans-serif !important;
}
thead tr th
{
	background-color: #FDCE4C !important;
	
}

table
{
	box-shadow:1px 1px 5px #999999 !important;
	text-align:center;
	
	height:auto !important;
}
tbody
{
	
}
tbody tr:hover
{
	box-shadow:1px 1px 1px #999999 !important;
	
}
.rowview:hover
{
	background-color: rgba(255, 244, 215, 1) !important;
	cursor:pointer;
	}
.mainsubmit 
{
	background-color: #FCBD10 !important;
    border: none;
    border-radius:2px;
    color: #fff;
    font-size: 15px !important;
    margin:auto;
    text-align:center !important;
    width:100% !important;
    box-shadow:1px 1px 1px #999999;
    height:30px;
}
.mobile
{
	text-decoration:none !important;
	color:black;
}
.mobile:hover
{
	color:black;
}

.mobile:visited
{
	color:black;
}
.mainsubmit:hover
{
	background-color: #FDCE4C !important;
	box-shadow:1px 1px 5px #999999;
    
}
.submitbuttondiv
{
	text-align:center;
	margin:auto;
	margin-top:30px;
	width:200px;
	margin-bottom:20px;
	}